/*-- scss:defaults --*/
/*-- $presentation-heading-color: green; --*/

/*-- scss:rules --*/

.highlight-solubility {
  background-color: #f5e8c8;
  border-radius: 10px;
}

.highlight-carbonate {
  background-color: #e01f54;
  border-radius: 10px;
  color: white;
}

.highlight-bcp {
  background-color: #001852;
  border-radius: 10px;
  color: white;
}

.resize {
    width: 80%;
    height: auto;
}

.small-text {
  font-size: 30px;
}

.tiny-text {
  font-size: 12px;
  align-items: center;
}

.left-align {
  text-align: left;
}

.my-image {
  clip-path: inset(30px 0 0 0);
}

.box {
    display: inline-block;
    width: 250px;
    border: 2px solid #000;
    text-align: center;
}

.background-slide {
  width: 50%;
}

.highlight-high {
  background-color: #f4b8bc;
  border-radius: 10px;
  color: black;
}

.highlight-low {
  background-color: #b6d9f5;
  border-radius: 10px;
  color: black;
}

.center-align {
  text-align: center;
}

.red-dot {
  height: 20px;
  width: 20px;
  background-color: #E31B23;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 20px;
  width: 20px;
  background-color: #FFC325;
  border-radius: 50%;
  display: inline-block;
}

